Brotli==
click==
colorama==
dash==
dash-core-components==
dash-html-components==
dash-tables==
Flask==
Flask-Compress==
gunicorn==
itsdangerous==
Jinja2==
Markupsafe==
numpy==
pandas==
plotly==
python-dateutil==
pytz==
six==
tenacity==
Werkzeug==
